<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Guitar Composer</title>
        <link rel="icon" href="img/guitar-headstock.ico">

        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#333333">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#333333">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#333333">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="../script/myScript.js"></script>
    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a href="/">
                    <img src="/img/guitar-headstock.png" alt="Guitar Composer" width="50" height="50">
                </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a>Add Song</a></li>
                    <li><a href="/deleteAccount">Delete Account</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-2"></div>

                <div class="col-sm-8" id="registration">
                    <h4><small>Edit Song</small></h4>
                    <hr>
                    <h1>Edit the song data.</h1>

                    <div class="form-group">
                        <label for="title" class="control-label">Title</label>
                        <input id="title" class="form-control" name="title" placeholder="Title" disabled>
                    </div>

                    <div class="form-group">
                        <label for="artist" class="control-label">Artist</label>
                        <input id="artist" class="form-control" name="artist" placeholder="Artist" disabled>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="tuning" class="control-label">Tuning</label>
                            <input id="tuning" class="form-control" name="tuning" placeholder="Tuning">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="capo" class="control-label">Capo</label>
                            <input id="capo" class="form-control" name="capo" placeholder="Capo">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="note" class="control-label">Note</label>
                        <textarea id="note" class="form-control" name="note" placeholder="Note" rows="5"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="content" class="control-label">Content</label>
                        <textarea id="content" class="form-control" name="content" placeholder="Content" rows="20"></textarea>
                    </div>

                    <hr>
                    <p>Enter your login credentials to edit the song.</p>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="Username" class="control-label">Username</label>
                            <input id="username" class="form-control" name="username" placeholder="Username" disabled>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" id="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <button id="edit-btn" type="submit" class="btn btn-warning" >Edit</button>
                    </div>
                </div>
                <script>
                    var urlParams   = new URLSearchParams(window.location.search);
                    var title       = urlParams.get('title');
                    var artist      = urlParams.get('artist');
                    var url         = `./api/getSong?title=${title.split(" ").join("%20")}&artist=${artist.split(" ").join("%20")}`;
                    httpGetAsync(url, fillInputFields);
                </script>

                <div class="col-sm-2"></div>

            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="text-center footer-copyright py-3">
                <p>Powered by: <a target="_blank" href="https://heroku.com/">heroku.com</a></p>
            </div>
        </footer>
        <!-- Footer -->

    </body>
</html>