<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Guitar Composer</title>
        <link rel="icon" href="img/guitar-headstock.ico">

        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#333333">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#333333">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#333333">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="../script/myScript.js"></script>
    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a href="/">
                    <img src="/img/guitar-headstock.png" alt="Guitar Composer" width="50" height="50">
                </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a>Home</a></li>
                    <li><a href="/addSong">Add Song</a></li>
                    <li><a href="/deleteAccount">Delete Account</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                </ul>
                </div>
            </div>
        </nav>


        <div class="container-fluid">
            <div class="row content">

                <div class="col-sm-2"></div>

                <div class="col-sm-8">
                    <h4><small>Home Page</small></h4>
                    <hr>
                    <h1>Welcome to Guitar Composer</h1>
                    <br>
                    <p>Guitar Composer is a platform for guitarists.</p>
                    <p>The intent is to make songs lyrics with chords, public to anyone.</p>
                    <p>Register for free to upload new songs.</p>

                    <hr>

                    <div class="input-group search">
                        <input id="title" type="text" class="form-control" placeholder="Search by title...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="searchSongs(true)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>

                    <hr>

                    <div class="input-group search">
                        <input id="artist" type="text" class="form-control" placeholder="Search by artist...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="searchSongs(false)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="col-sm-2"></div>

            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="text-center footer-copyright py-3">
                <p>Powered by: <a target="_blank" target="_blank" href="https://heroku.com/">heroku.com</a></p>
            </div>
        </footer>
        <!-- Footer -->

    </body>
</html>