<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Guitar Composer</title>
        <link rel="icon" href="img/guitar-headstock.ico">

        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#333333">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#333333">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#333333">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="../script/myScript.js"></script>
    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a href="/">
                    <img src="/img/guitar-headstock.png" alt="Guitar Composer" width="50" height="50">
                </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/addSong">Add Song</a></li>
                    <li><a href="/deleteAccount">Delete Account</a></li>
                    <li><a target="_blank" href="https://app.swaggerhub.com/apis-docs/alexbernardi360/guitar-composer/1.0">API doc</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-2">
                </div>

                <div class="col-sm-8" id="result-div">
                    <h4><small>Search Results</small></h4>
                    <hr>
                    <h1 id="result-h1">Search results by title: </h1>
                    <br>
                </div>
                <script>
                    var urlParams   = new URLSearchParams(window.location.search);
                    var search      = urlParams.get('search');

                    var tag         = document.getElementById('result-h1');
                    var text        = document.createTextNode(search);
                    tag.appendChild(text);

                    // Search songs by title
                    var url         = `./api/songs/search?title=${search.split(" ").join("%20")}`;
                    httpGetAsync(url, createSongList);
                </script>

                <div class="col-sm-2">
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="text-center footer-copyright py-3">
                <p>Powered by: <a target="_blank" href="https://heroku.com/">heroku.com</a></p>
            </div>
        </footer>
        <!-- Footer -->

    </body>
</html>