<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Guitar Composer</title>
        <link rel="icon" href="img/guitar-headstock.ico">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="../script/myScript.js"></script>
    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a href="/">
                    <img src="/img/guitar-headstock.png" alt="Guitar Composer" width="50" height="50">
                </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-2">
                </div>

                <div class="col-sm-8">
                    <h4><small>Title Results</small></h4>
                    <hr>
                    <div class="list-group" id="result-div"></div>
                </div>
                <script>
                    var urlParams = new URLSearchParams(window.location.search);
                    var title     = urlParams.get('title');
                    var url         = `./api/songsListByTitle?title=${title.split(" ").join("%20")}`;
                    httpGetAsync(url, createSongList);
                </script>

                <div class="col-sm-2">
                </div>
            </div>
        </div>

        <footer class="container-fluid">
            <p>Footer Text</p>
        </footer>

    </body>
</html>