<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Guitar Composer</title>
        <link rel="icon" href="img/guitar-headstock.ico">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="../script/myScript.js"></script>
    </head>

    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a href="/">
                    <img src="/img/guitar-headstock.png" alt="Guitar Composer" width="50" height="50">
                </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/addSong">Add Song</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-2"></div>

                <div class="col-sm-8" id="registration">
                    <h4><small>Show Song</small></h4>
                    <hr>
                    <h1 id="title"></h1>
                    <h2 id="artist">by </h2>
                    <hr>

                    <div class="container-fluid">
                        <div class="col-sm-6" id="sx-col">
                            <p id="tuning"><b>Tuning: </b></p>
                            <p id=capo><b>Capo: </b></p>
                            <a target="_blank" id="musicVid" class="btn btn-primary">Music Video</a>
                        </div>

                        <div class="col-sm-6" id="dx-col">
                            <p id="album"><b>Album: </b></p>
                            <p id="trackNo"><b>Track No: </b></p>
                            <p id="genre"><b>Genre: </b></p>
                        </div>
                    </div>
                    <hr>
                    <pre class="pre-scrollable" style="max-height: 60px" id="note"><b>Note:</b><br></pre>
                    <hr>
                    <pre class="pre-scrollable" style="max-height: 80vh" id="content"></pre>
                </div>
                <script>
                    var urlParams   = new URLSearchParams(window.location.search);
                    var title       = urlParams.get('title');
                    var artist      = urlParams.get('artist');
                    var url         = `./api/getSong?title=${title.split(" ").join("%20")}&artist=${artist.split(" ").join("%20")}`;
                    httpGetAsync(url, showSong);
                </script>

                <div class="col-sm-2"></div>

            </div>
        </div>

        <footer class="container-fluid">
            <p>Footer Text</p>
        </footer>

    </body>
</html>