/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {min-height: 100vh}

/* Set dark background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;

    clear: both;
    position: relative;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .row.content {min-height: 100vh}

    footer {
        background-color: #555;
        color: white;
        padding: 15px;
    
        clear: both;
        position: relative;
    }

}

.search {
    width: 50%;
    margin: 0 auto;
}