/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid */
.row.content {min-height: 100%}

/* On small screens*/
@media screen and (max-width: 767px) {.row.content {min-height: 100%}}

.search {
    width: 50%;
    margin: 0 auto;
}

textarea {resize: vertical}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 200px;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }